@font-face {
  font-family: 'spokeo';
  src:url('assets/fonts/spokeo.eot');
  src:url('assets/fonts/spokeo.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/spokeo.woff') format('woff'),
      url('assets/fonts/spokeo.ttf') format('truetype'),
      url('assets/fonts/spokeo.svg#spokeoregular') format('svg');
  font-weight : normal;
  font-weight : normal;
  font-style  : normal;
}

.icon {
  font-family: 'spokeo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.search_icon:before                 { content:'\e001'; }
.down_arrow_icon:before             { content:'\e002'; }
.up_arrow_icon:before               { content:'\e003'; }
.left_arrow_icon:before             { content:'\e004'; }
.right_arrow_icon:before            { content:'\e005'; }
.google_plus_icon:before            { content:'\e006'; }
.twitter_icon:before                { content:'\e007'; }
.facebook_icon:before               { content:'\e008'; }
.menu_icon:before                   { content:'\e009'; }
.toc_icon:before                    { content:'\e00a'; }
.email_icon:before                  { content:'\e010'; }
.toc_summary_icon:before            { content:'\e011'; }
.toc_photos_icon:before             { content:'\e012'; }
.toc_online_profiles_icon:before    { content:'\e013'; }
.toc_email_authenticity_icon:before { content:'\e014'; }
.checkmark_icon:before              { content:'\e015'; }

/* Default wide-screen styles */

/* ------------------------General set----------------------- */

body {
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #40464d;
  background-color: #f7f7f7;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  max-width: 1300px;
  margin: 0 auto;
}

input {
  padding: 0;
  outline-width: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a, .copyright {
  color: #c2c7cc;
}

ul {
  margin: 0;
  list-style: none;
  display: inline;
}

/* ------------------------icon----------------------- */

.icon {
  position: absolute;
  top: 10.5px;
  cursor: pointer;
}

/* ------------------------box model----------------------- */

.box {
  border: 1px solid #c2c7cc;
  -webkit-border-radius: 20.5px;
  -moz-border-radius: 20.5px;
  border-radius: 20.5px;
}

/* ------------------------account text color----------------------- */

.text span, .dropdown a {
  color: #3c93ea;
}

/* ------------------------content table header----------------------- */

.table_header {
  line-height: 35px;
  position: relative;
  background-color: #4282c4;
  color: white;
  border: 1px solid #2e65a7;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

/* ------------------------header----------------------- */

header {
  position: absolute;
  height: 73px;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
}

header .left_side {
  width: 338px;
  height: 100%;
  float: left;
}

header .logo {
  position: absolute;
  text-indent: -9999px;
  color: #4282c4;
  width: 186px;
  height: 30px;
  left: 20px;
  bottom: 4px;
  background: url("assets/images/logo.png") 0 0 no-repeat;
}

header .right_side {
  margin-left: 350px;
}

header .right_side .icon {
  color: #a1aab3;
}

header .right_side .box {
  width: 100%;
  height: 35px;
  padding-left: 19px;
}

header .search {
  width: 70%;
  float: left;
}

header .search nav {
  padding: 14px 0 8px 5px;
  text-transform: uppercase;
  font-size: 10px;
}

header .search nav a {
  padding-left: 14px;
}

header .search nav a:hover, header .search nav a.active {
  color: #40464d;
}

header .search form {
  position: relative;
}

header .search .icon {
  right: 0;
}

header .right_side .account {
  position: absolute;
  bottom: 1px;
  right: 0;
  width: 128px;
}

header .account {
  background-color: #fafafa;
}

header .account .icon {
  right: 20px;
}

header .account .menu_icon {
  display: none;
}

header .account .text {
  padding: 8px 17px 8px 5px;
  display: inline-block;
  border-right: 1px solid #c2c7cc;
}

header .account .dropdown {
  display: none;
  background-color: white;
  padding: 5px 15px;
  z-index: 12;
  position: absolute;
  top: 46px;
  right: 0;
  width: 162px;
  height: auto;
}

header .account .dropdown a {
  padding: 10px 0;
  display: block;
}

/* ------------------------content----------------------- */

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  padding: 88px 0px 23px 0;
}

.content .table_list, .table_results {
  height: 100%;
  background-color: white;
}

.content .table_header .icon {
  left: 20px;
}

.content .table_header .table_header_title {
  display: inline;
  margin-left: 45px;
}

.content .table_content {
  position: absolute;
  top: 125px;
  bottom: 22px;
  width: 336px;
  border: 1px solid #c2c7cc;
  border-top: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.content .table_content .inner_content {
  padding: 20px;
}


.content .table_list {
  width: 338px;
  float: left;
}

.content .table_results {
  margin-left: 350px;
}

.content .table_results .table_content {
  width: auto;
  right: 0;
  left: 350px;
}

/* ------------------------footer----------------------- */

footer {
  font-size: 10px;
  width: 100%;
  height: 22px;
  line-height: 22px;
  border: none;
  margin: 0 auto;
  position: absolute;
  left: 0;
  bottom: 0;
  background: none;
}

footer .copyright {
  margin-left: 14px;
  float: left;
}

footer .footer_links {
  position: absolute;
  right: 21px;
}

footer li {
  font-size: 10px;
  padding: 0 4px;
  display: inline-block;
}

footer li a:hover {
  color: black;
}

/* Screen size between 800px and 1000px styles */

@media all and (min-width: 800px) and (max-width: 1000px) {
  header .logo {
    left: 0px;
  }

  header .search {
    width: 69%;
    float: right;
    padding-right: 31%;
  }

  header .left_side {
    width: 26%;
    height: 100%;
    float: left;
  }

  header .right_side {
    margin-left: 0;
    width: 73%;
    float: right;
  }
  .content .table_list {
    display: none;
  }

  .content .table_results {
    margin-left: 0;
  }

  .content .table_results .table_content {
    position: absolute;
    top: 125px;
    bottom: 22px;
    right: 0px;
    left: 0px;
    border: 1px solid #a1aab3;
    border-top: none;
  }

  .content .table_content .inner_content {
    padding: 20px 15px;
  }

  footer .copyright {
    margin-left: 10px;
  }

  footer .footer_links {
    right: 15px;
  }
}

/* Screen size smaller than 800px styles */

@media all and (max-width: 800px) {
  .wrapper {
    left: 0;
    right: 0;
    background-color: white;
  }

  .content .table_list {
    display: none;
  }

  .content .table_results {
    margin-left: 0;
    width: 100%;
    border: none;
  }

  .dropdown.top a, .dropdown.top .text {
    padding-left: 15px;
    line-height: 38px;
    display: block;
    border-top: 1px solid #c2c7cc;
  }

  .dropdown.top a:last-child {
    border-bottom: 1px solid #c2c7cc;
  }

  header {
    height: 51px;
    position: relative;
    border-bottom: 1px solid #c2c7cc;
  }

  header .left_side {
    width: auto;
  }

  header .left_side .logo {
    margin-top: 15px;
    width: 91px;
    height: 23px;
    left: 15px;
    bottom: auto;
    background: url("assets/images/logo_short.png") -50px 0 no-repeat;
  }

  header .right_side {
    margin-left: 133px;
    margin-right: 90px;
  }

  header .search {
    width: auto;
    float: none;
    padding: 10px 0;
  }

  header .search nav {
    display: none;
  }

  header .search .box {
    height: 30px;
  }

  header .search .search_icon {
    top: 9px;
  }

  header .right_side .account {
    border: none;
    background-color: transparent;
    padding: 0px;
    right: 2%;
    height: 34px;
    bottom: 9px;
    width: 5%;
  }

  header .account .menu .text {
    display: none;
  }

  header .account .menu .icon {
    right: 0;
    top: 0;
    padding: 7px 8px;
    font-size: 20px;
  }

  header .account .menu .down_arrow_icon {
    display: none;
  }

  header .account .menu .menu_icon {
    display: block;
  }

  .content {
    padding: 0;
  }

  .content .table_results .table_header {
    display: none;
  }

  .content .table_results .table_content {
    width: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border: none;
  }

  .content .table_content .inner_content {
    padding: 20px 15px;
  }

  footer {
    display: none;
  }
}

