@font-face {
  font-family: 'spokeo';
  src:url('assets/fonts/spokeo.eot');
  src:url('assets/fonts/spokeo.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/spokeo.woff') format('woff'),
      url('assets/fonts/spokeo.ttf') format('truetype'),
      url('assets/fonts/spokeo.svg#spokeoregular') format('svg');
  font-weight : normal;
  font-weight : normal;
  font-style  : normal;
}

.icon {
  font-family: 'spokeo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.search_icon:before                 { content:'\e001'; }
.down_arrow_icon:before             { content:'\e002'; }
.up_arrow_icon:before               { content:'\e003'; }
.left_arrow_icon:before             { content:'\e004'; }
.right_arrow_icon:before            { content:'\e005'; }
.google_plus_icon:before            { content:'\e006'; }
.twitter_icon:before                { content:'\e007'; }
.facebook_icon:before               { content:'\e008'; }
.menu_icon:before                   { content:'\e009'; }
.toc_icon:before                    { content:'\e00a'; }
.email_icon:before                  { content:'\e010'; }
.toc_summary_icon:before            { content:'\e011'; }
.toc_photos_icon:before             { content:'\e012'; }
.toc_online_profiles_icon:before    { content:'\e013'; }
.toc_email_authenticity_icon:before { content:'\e014'; }
.checkmark_icon:before              { content:'\e015'; }

/* Default wide-screen styles */
body {
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #f8f8f8;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

input {
  outline-width: 0;
}

a {
  color: #c2c7cc;
  cursor: pointer;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
  display: inline;
}

header {
  position: absolute;
  height: 82px;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
}

header .left_side {
  width: 26%;
  float: left;
}

header .right_side {
  width: 73%;
  float: right;
}

header .logo {
  height: 37px;
  padding: 41px 0 0 23px;
}

header nav {
  padding: 16px 0 12px 6px;
  text-transform: uppercase;
  font-size: 10px;
}

header nav a {
  color: #c2c7cc;
  padding-left: 14px;
}

header nav a:hover {
  color: black;
}

header .search {
  width: 70%;
  float: left;
}

header .search form {
  position: relative;
}

header .box {
  width: 100%;
  height: 37px;
  padding: 0 0 0 19px;
  border: 1px solid #c2c7cc;
  -moz-border-radius: 20.5px;
  border-radius: 20.5px;
}

header .search .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 13px 0;
  cursor: pointer;
}

header .account {
  position: absolute;
  bottom: 1px;
  right: 0;
  width: 128px;
}

header .account .menu {
  height: 37px;
}

header .account .menu .text {
  color: #4282c4;
  padding: 9px 17px 9px 5px;
  display: inline-block;
  border-right: 1px solid #c2c7cc;
}

header .account .menu .icon {
  cursor: pointer;
  padding:  12px 15px 11px 12px;
  display: inline-block;
}

header .account .dropdown {
  display: none;
  padding: 10px 15px;
  z-index: 12;
  position: absolute;
  top: 50px;
  right: 0;
  width: 162px;
  color: #4282c4;
  border: 1px solid #c2c7cc;
  -moz-border-radius: 20.5px;
  border-radius: 20.5px;
}

header .account .dropdown a {
  color: #4282c4;
  padding: 10px 0;
  display: block;
}

/* wrapper */

.wrapper {
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
}

.wrapper .table_list {
  height: 100%;
  width: 26%;
  float: left;
}

/* content */
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  padding: 98px 0px 23px 0;
}

/* table header */
.wrapper .table_header {
  height: 37px;
  line-height: 37px;
  position: relative;
  border: 1px solid #4282c4;
  background-color: #4282c4;
  color: white;
}

.wrapper .table_header .icon {
  line-height: 37px;
  display: inline;
  margin-left: 20px;
}

.wrapper .table_header .table_header_title {
  height: 37px;
  line-height: 37px;
  display: inline;
  margin-left: 10px;
}

/* table content */

.wrapper .table_list, .table_results {
  background-color: white;
  border: 1px solid #a1aab3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.wrapper .table_content .inner_content {
  margin: 20px;
}

.wrapper .table_results {
  height: 100%;
  width: 73%;
  float: right;
}

footer {
  font-size: 10px;
  color: #c2c7cc;
  width: 100%;
  height: 22px;
  line-height: 22px;
  border: none;
  margin: 0 auto;
  position: absolute;
  left: 0;
  bottom: 0;
  background: none;
}

footer .copyright {
  display: inline;
  float: left;
}

footer .footer_links {
  position: absolute;
  right: 21px;
}

footer li {
  font-size: 10px;
  padding: 0 4px;
  display: inline-block;
}

footer li a:hover {
  color: black;
}

@media all and (min-width: 1000px) and (max-width: 1300px) {
  body {background-color: black;}
    /* styles for narrow desktop browsers and iPad landscape */
}

@media all and (max-width: 1000px) {
  body {background-color: red;}
    /* styles for narrower desktop browsers and iPad portrait */
}

@media all and (max-width: 800px) {
  body {background-color: red;}
    /* styles for narrower desktop browsers and iPad portrait */
}

